@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the fadeIn animation to the body */
body {
    animation: fadeIn 1s ease-in-out;
}
body {
    padding-top: 20vh; /* Add padding to the top of the body equal to the height of the header */
    position: relative; /* Add relative positioning to contain the body content */
    z-index: 1; 
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh; /* Set height to 20% of the viewport height */
    background-color: rgb(255, 255, 255); /* Make the header transparent */
    z-index: -1; /* Ensure the header is above other content */
}

.container {
    max-width: 960px; /* Adjust as needed */
    height: 100%; /* Ensure container fills the height of the header */
    margin: 0 auto; /* Center the content */
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo {
  height: 30vh; /* Make the logo height fill the container */
    width: auto; /* Allow width to adjust proportionally */
}

/* Styles for footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #47b9ff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for form within footer */
.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-form input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.footer-form button {
    padding: 8px 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ffc800;
    color: white;
    cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .footer-form {
        flex-direction: column;
    }

    .footer-form input[type="text"] {
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .footer-form button {
        border-radius: 5px;
    }
}

@keyframes bounce {
    0% { transform: translateY(-50px); opacity: 0; }
    50% { transform: translateY(0); opacity: 1; }
    75% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.bloon {
    animation: bounce 0.5s ease-in-out;
}

.bloon {
    font-family: 'Open Sans', sans-serif;
    background-color: #87CEEB; /* Sky blue */
    color: #000; /* Black text */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;

}

/* Center bloons horizontally */
.bloon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}