
@media screen and (orientation: landscape) { 
   html { 
      transform: rotate(-90deg); 
      transform-origin: left top; 
             width: 100vh; 
             overflow-x: hidden; 
             position: absolute; 
             top: 100%; left: 0; 
   } 
} 

body {
background-color: #f0f2f6;
margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
header{
	justify-content: space-between;
	align-items: center ;
	display: flex;
}



.picContainer {
    position: relative;
    width: 650px;
    height: 400px;
    border: 8px solid #ffffff;
    background: black;
    border-radius: 10px;
}

#info {
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: rgba(0, 0, 0, 0.75);
}





ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
   /*this option by default dispose the elements in a row (flex-direction: row)*/
}
li{
  list-style-type: none;  
  /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
    margin-left: auto;
    margin-right: auto;
}
input,
textarea,
button,
select,
a{
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: Rgba(0,0,0,0);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  text-decoration: none;
   color: black;
   cursor: pointer;
   display: block;
    padding: 25px 25px;
    letter-spacing: .17em;
    text-transform: uppercase;
	font-size: 2vh ;
  /*also changed the font family but that's totally irrelevant*/
font-family: monospace;
transition: all 0.3s ease 0s;
}
a:hover{
  color: red ;
  font-size: 4vh ;
}
.typewrite {
		font-size: 3vh ;
  cursor: default;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.wrapper {
	position: relative;
	width: 80vh; /* just a default, can be anything. */
}

   .three-by-two { padding-bottom: 66.666%;
  
    /*background-color: gold; */
   transform: rotate(90deg);
   }
  .four-by-three.aspect-ratio { padding-bottom: 75% }
.sixteen-by-nine.aspect-ratio { padding-bottom: 56.25% }

.content {
    position: absolute;
	transform: rotate(90deg);
    top: 0;  bottom: 0;  left: 0;  right: 0;
	margin: 0px;
	padding:0px;
}
.content-2 {
    position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
	margin: 0px;
	padding:0px;
}
 img{
 height: 100%;
width: 100%;
object-fit: contain;
	 
 }
 
 #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: 0;
  display: block;
  position: absolute;
    top: 0;
  width: 100vw;
}



/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  z-index: 2;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
p {
	 text-decoration: none;
   color: black;
   word-wrap: break-word;
   font-size:4vh;
    padding: 0px 5vw 25px;
font-family: monospace;
	
}
#links{
	display: grid;
        text-align: center;
text-decoration: underline;
text-transform: uppercase;
   color: black;
   padding: 5vh 0px;
   margin: 0px;
  font-size: 3vh;
  font-family: monospace;
transition: all 0.3s ease 0s;
	
}
#links:hover{
  color: red;
}
#girl {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
      padding: 0px;
      margin: 0px;
}
img {
	height: 45vh;
  width: auto;
 cursor: default;
 
}
.typewrite:hover {
		color: black ;
	 font-size: 3vh ;
}
nav{
	 margin: 0 auto;
	 text-align: center;
     width: 100vw;
	 
}
#low {
  overflow: hidden;
  position: fixed;
  bottom: 0;
} 
#high {
	 width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
} 
#logo {
  overflow: hidden;
      letter-spacing: 0;
	  cursor: pointer;
  top: 0;
  left: 0;
 font-size: 3vh;
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 700;
} 
#logo:hover{
  color: white;
}
.fab {  
  padding: 25px 0px; 
text-align: center;  
   
}  
.fa-twitter {  
 
  color: black;  
}  
.fa-twitter:hover{
	color: #55ACEE;
	
}
.fa-instagram {   
  color: black;  
}  
.fa-instagram:hover{
	color: #e1306c;
	
}
.fa-discord {    
  color: black;  
}  
.fa-discord:hover{
	color: #5865F2 ;
	
}

div{ 
display: flex;
  justify-content: left;
    align-items: left;
	height: auto;
	width: auto;

}
